/***********/
/* GALLERY */
/***********/
.gallery {
  min-height: 65vh;
  padding: 1rem 8rem 2rem;

  background-color: #443742;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2320181f' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  /* background-color: #6d626b;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23443742' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */

  /* background-color: #443742;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23221c21' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); */
}

.gallery h1{
  padding: 50px;
  font-size: 60px;
  font-weight: 200;
  color: #FDB811
}

.gallery-menu-item {
  overflow: hidden;
  width: 600px;
  height: 450px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 25px;
}

.gallery-menu-item:hover .gallery-image {
  opacity: 0.7;
  transform: scale(1.1);
  transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95), opacity 1s;
}

.gallery-menu-item:hover .gallery-menu-content {
  opacity: 0.9;
  transition: opacity 1s;
}

.gallery-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.gallery-menu-content {
  padding: 5px 25px 0;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1 px solid black;
  border-radius: 5px;
  background-color: white;
  opacity: 0.6;
  position: absolute;
}

.gallery-menu-content h2{
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

.gallery h2 {
  /* background-color: #FDB811; */
  padding: 2px; 
  border: solid black 2px;
  color:  #443742;
  text-align: left;
  margin-bottom: 15px;
}

.gallery-drinks, .gallery-entrees, .gallery-sides, .gallery-desserts {
  padding-bottom: 5rem;
}

.gallery .carousel {
  color: #FDB811;
  width: 75%;
}

.gallery .carousel img {
  height: 70vh;
  margin-top: 2rem;
}