/*********/
/* Alert */
/*********/
.alert {
  background-color: #FDB811;
  border-radius: 0;
}

.alert-link {
  color: #443742;
  font-size: 14px;
  text-decoration: none;
}

.alert-link:hover {
  color: white;
  cursor: pointer;
}