/**********/
/* Footer */
/**********/
.footer {
  background-color: #443742;
  width: 100vw;
  position: relative;
  bottom: 0;
}

#footer-logo {
  height: 15vh;
  width: auto;
}

.footer-address {
  color: #FDB811;
}

.footer-tel, .footer-copy {
  color: #93A3B1;
}

.footer-tel:hover {
  color: white;
}

.footer-icons {
  color: #FDB811;
  margin: 0.5rem;
}

.footer-icons:hover {
  color: white;
  margin: 0.5rem;
}