body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Color Scheme
 const yellow = '#FDB811';
const black = '#443742';
const lightGrey = '#93A3B1';
const darkGrey = '#7C898B';
const pink = '#E4959E'; */

/* Alert */
.alert {
  background-color: #FDB811;
}

.alert-link {
  color: #443742;
  font-size: 10px;
  text-decoration: none;
}

.alert-link:hover {
  color: #443742;
  text-decoration: underline;
}

/* Updates */
.covid-letter {
  width: 90vw;
}

/* Header */
#header-logo {
  height: 15vh;
  width: auto;
}

/* Navigation */
.nav-link:hover {
  color: #FDB811;
  text-decoration: underline;
}

/* Footer */
.footer {
  background-color: #443742;
}