html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
}

a:hover {
  cursor: pointer;
}

/* Color Scheme
 const yellow = '#FDB811';
const black = '#443742';
const lightGrey = '#93A3B1';
const darkGrey = '#93A3B1';
const pink = '#E4959E'; */

/* Fonts */
/* font-family: 'Quicksand', sans-serif; */

/* Break Points */
/* sm - 576 */
/* md - 768 */
/* lg - 992 */
/* xl - 1200 */
/* xxl 1400 */