html {
  /* box-sizing: border-box; */
  overflow-x: hidden;
}

/* *, *:before, *:after {
  box-sizing: inherit;
} */

body {
  box-sizing: border-box;
  
}

/* Color Scheme
 const yellow = '#FDB811';
const black = '#443742';
const lightGrey = '#93A3B1';
const darkGrey = '#93A3B1';
const pink = '#E4959E'; */

/* Fonts */
/* font-family: 'Quicksand', sans-serif; */

/* Break Points */
/* sm - 576 */
/* md - 768 */
/* lg - 992 */
/* xl - 1200 */
/* xxl 1400 */

/*********/
/* Alert */
/*********/
.alert {
  background-color: #FDB811;
  border-radius: 0;
}

.alert-link {
  color: #443742;
  font-size: 14px;
  text-decoration: none;
}

.alert-link:hover {
  color: white;
  cursor: pointer;
}

/**************/
/* Navigation */
/**************/
my-navbar .nav-link:hover {
  color: #FDB811;
  text-decoration: underline;
}

.nav-pickup-btn {
  color:#FDB811;
}

.nav-delivery-btn:hover{
  color: white;
}

.nav-pickup-btn:hover {
  background-color: #443742;
  color: white;
}

.collapse .navbar-nav {
  margin-right:1rem;
  margin-left: auto;
}

/**********/
/* Header */
/**********/
#header-logo {
  height: 15vh;
  width: auto;
}

.header {
  background-color: #443742;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23221c21' fill-opacity='0.4'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.carousel {
  color: #FDB811;
  width: 100%;
}

.carousel img {
  min-height: 65vh;
}

@media screen and (min-width: 768px) {
  .nav-delivery-btn {
    margin-right: 1rem;
  }
}

/****************/
/* Splash - Eat */
/****************/

.splash-eat {
  height: 40vh;
  background-color: #f4f3f2;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23fdb811' fill-opacity='0.91' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.splash-eat .card {
  margin: 3rem 0 -16rem;
  padding: 1rem 1rem 2rem;
  width: 80%;
}

.splash-eat h1 {
  color: #93A3B1;
}

.splash-eat h5, .splash-eat p {
  color: #443742;
  font-family: 'Quicksand', sans-serif;
  line-height: 0.5;
}

.splash-eat img {
  height: 70%;
}

.splash-eat a {
  color: #93A3B1;
  text-decoration: none;
}

.splash-eat a:hover {
  color: #FDB811;
  font-weight: bold;
}

/*****************/
/* Splash - Menu */
/*****************/
@media screen and (min-width: 768px) {
  .splash-menu {
    margin-top: 4rem;
  }
  .splash-menu img {
    width: 700px;
  }
}

.splash-menu {
  height: 95vh;
  background-color: white;
}

.splash-menu ul {
  margin-top: 20rem;
}

.splash-menu .nav-link {
  color:#93A3B1;
}

.splash-menu .nav-item .active {
  background-color: #FDB811;
}

.splash-menu img {
  height: 30vh;
  width: auto;
}

/******************/
/* Splash - About */
/******************/
.splash-about {
  height: 75vh;
  background-color: #f2ddab;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23fdb811' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.splash-about .card {
  background-color:#FDB811;
  color: white;
  font-style: italic;
  width: 100%;
  font-family:'Quicksand', sans-serif;
  border-radius: 0;
}

/*****************/
/* Splash - Team */
/*****************/
.splash-team {
  min-height: 100vh;
  background-color: white;
  font-family: 'Quicksand', sans-serif;
}

.splash-team img {
  height: 250px;
  width: auto;
}

.splash-team h4 {
  font-weight: bold;
  color: #FDB811;
}

.splash-team li {
  list-style-type: none;
}

.splash-team hr {
  width: 75%;
  text-align: center;
}

.splash-team span {
  color: #FDB811;
  font-weight: bold;
}

.splash-team button {
  color:#443742;
}

.splash-team button:hover {
  color:white;
}

/************************/
/* Splash - Social Wall */
/************************/
.splash-social {
  height: 75vh;   
  background-color: #d8d3c8;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%238b8883' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

/***********/
/* Updates */
/***********/
.covid-letter {
  width: 100vw;
  margin: 0;
  padding:0;
}

/**********/
/* Footer */
/**********/
.footer {
  background-color: #443742;
  width: 100vw;
}

#footer-logo {
  height: 15vh;
  width: auto;
}

.footer-address {
  color: #FDB811;
}

.footer-tel, .footer-copy {
  color: #93A3B1;
}

.footer-tel:hover {
  color: white;
}

.footer-icons {
  color: #FDB811;
  margin: 0.5rem;
}

.footer-icons:hover {
  color: white;
  margin: 0.5rem;
}